/* Clearfix */
{
  content: "";
  display: table;
  clear: both;
}

.page {
  font-family: Arial;
}

.page__row--alt-color {
  background-color: #FBFAF8;
}

.page__container {
  margin: 0 auto;
  max-width: 1170px;
}

.text--small {
  font-size: 0.875rem;
}

.text--large {
  font-size: 1.25rem;
}

.text--x-large {
  font-size: 1.375rem;
}

.text--xxx-large {
  font-size: 1.875rem;
}

.button {
  border-radius: 3px;
  background-color: #998675;
  color: #fff;
  padding: 1rem 2.25rem;
  border: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.header--overlay {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__logo {
  float: left;
}

.header__navigation {
  margin-left: auto;
}

.navigation__list {
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #fff;
  list-style: none;
}

.navigation__item {
  display: inline-block;
  padding: 0 1rem;
}

.navigation__item:hover {
  color: #c7b299;
}

.header__icon {
  display: inline-block;
  padding-left: 26px;
}

.slider__item {
  padding-top: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.slider .owl-dot span {
  background-color: #fff;
  opacity: 0.5;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  display: block;
}

.slider .owl-dot.active span {
  border: solid 2px #d3c1ad;
  background-color: rgba(255, 255, 255, 0);
}

.slider .owl-dot {
  display: inline-block;
  margin: 0 0.3125rem;
}

.slider .owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  right: 0;
}

.slider__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  opacity: 0.7;
  z-index: 1;
}

.slider__container {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  text-align: center;
  z-index: 2;
  color: #fff;
  line-height: 1.2;
}

.slider__title {
  font-size: 2.25rem;
}

.slider__subtitle {
  font-size: 3.25rem;
  margin: .5rem 0;
}

.slider__text {
  line-height: 1.5;
  max-width: 60%;
  margin: 1rem auto;
}

.slider__button {
  
  margin-top: 1rem;
  
}

.slider .owl-nav button {
  font-size: 5rem !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.slider .owl-nav .owl-prev {
  left: 8%;
}

.slider .owl-nav .owl-next {
  right: 8%;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services__item {
  margin: 5rem 1%;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services__item:hover .services__title,
 {
  color: #c7b299;
  
}
.services__item:hover path {
  fill: #c7b299;
}
.services__item:hover .services__line {
  border-bottom-color: #c7b299;
}

.services__icon {
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.5625rem;
  fill: #555;
}

.services__title {
  line-height: 1.2;
  margin-bottom: 1.125rem;
  color: #555555;
}

.services__description {
  line-height: 1.7;
  padding-bottom: 1rem;
  margin-bottom: 0.4375rem;
  color: #8c8c8c;
}

.services__line {
  width: 4.375rem;
  border-bottom: 3px solid #f1eee9;
}

.ideas {
  padding-top: 4.875rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ideas__title {
  line-height: 1.2;
  margin-bottom: 1.4375rem;
}

.ideas__caption {
  line-height: 1.75;
  width: 66%;
  padding-bottom: 2.5rem;
}

.theme-ad {
  padding: 2.75rem 1rem;
  display: flex;
  justify-content: space-between;
}

.theme-ad__title {
  font-size: 1.75rem;
  line-height: 1.2;
  color: #fff;
}

.theme-ad__accent {
  color: #c7b299;
}

.theme-ad__caption {
  font-size: 1.125rem;
  line-height: 1.2;
  color: #615855;
}
