/* Clearfix */
  {
  content: "";
  display: table;
  clear: both;
}

.page {
  font-family: Arial;
}

.page__row--alt-color {
  background-color: #FBFAF8;
}

.page__container {
  margin: 0 auto;
  max-width: 1170px;
}

.text--small {
  font-size: 0.875rem;
}

.text--large {
  font-size: 1.25rem;
}

.text--x-large {
  font-size: 1.375rem;
}

.text--xxx-large {
  font-size: 1.875rem;
}

.button {
  border-radius: 3px;
  background-color: #998675;
  color: #fff;
  padding: 1rem 2.25rem;
  border: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.header--overlay {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__logo {
  float: left;
}

.header__navigation {
  margin-left: auto;
}

.navigation__list {
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #fff;
  list-style: none;
}

.navigation__item {
  display: inline-block;
  padding: 0 1rem;
}

.navigation__item:hover {
  color: #c7b299;
  cursor: pointer;
}

.header__icon {
  display: inline-block;
  padding-left: 26px;
}

.slider__item {
  padding-top: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.slider .owl-dot span {
  background-color: #fff;
  opacity: 0.5;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  display: block;
}

.slider .owl-dot.active span {
  border: solid 2px #d3c1ad;
  background-color: rgba(255, 255, 255, 0);
}

.slider .owl-dot {
  display: inline-block;
  margin: 0 0.3125rem;
}

.slider .owl-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  right: 0;
}

.slider__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  opacity: 0.7;
  z-index: 1;
}

.slider__container {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  text-align: center;
  z-index: 2;
  color: #fff;
  line-height: 1.2;
}

.slider__title {
  font-size: 2.25rem;
}

.slider__subtitle {
  font-size: 3.25rem;
  margin: .5rem 0;
}

.slider__text {
  line-height: 1.5;
  max-width: 60%;
  margin: 1rem auto;
}

.slider__button {

  margin-top: 1rem;

}

.slider .owl-nav button {
  font-size: 5rem !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.slider .owl-nav .owl-prev {
  left: 8%;
}

.slider .owl-nav .owl-next {
  right: 8%;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services__item {
  margin: 5rem 1%;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services__item:hover .services__title {
  color: #c7b299;
  transition: .5s ease;

}

.services__item:hover path {
  fill: #c7b299;
  transition: .5s ease;
}

.services__item:hover .services__line {
  border-bottom-color: #c7b299;
  transition: .5s ease;
}

.services__icon {
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.5625rem;
  fill: #555;
}

.services__title {
  line-height: 1.2;
  margin-bottom: 1.125rem;
  color: #555555;
}

.services__description {
  line-height: 1.7;
  padding-bottom: 1rem;
  margin-bottom: 0.4375rem;
  color: #8c8c8c;
}

.services__line {
  width: 4.375rem;
  border-bottom: 3px solid #f1eee9;
}

.ideas {
  padding-top: 4.875rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ideas__title {
  line-height: 1.2;
  margin-bottom: 1.4375rem;
  color: #555555;
}

.ideas__caption {
  line-height: 1.75;
  width: 66%;
  padding-bottom: 2.5rem;
  color: #8c8c8c;
}

.theme-ad {
  padding: 2.75rem 1rem;
  display: flex;
  justify-content: space-between;
}

.theme-ad__title {
  font-size: 1.75rem;
  line-height: 1.2;
  color: #fff;
}

.theme-ad__accent {
  color: #c7b299;
}

.theme-ad__caption {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #615855;
}

.theme-ad__button {
  height: 100%;
  margin: auto 0;
}

.projects {
  text-align: center;
  padding: 5rem 0;
}

.projects__title {
  color: #555555;
  padding-bottom: 1.5rem;
}

.projects__caption {
  margin: 0 auto;
  line-height: 1.75;
  color: #8c8c8c;
  padding-bottom: 2rem;
  max-width: 66%;
}

.portfolio__filter-item {
  padding: 0.625rem 1.25rem;
  margin: 2rem 0.3125rem;
  display: inline-block;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  background-color: rgba(17, 17, 17, 0);
  line-height: 0.875;
  color: #8c8c8c;
}

.portfolio__filter-item--active,
.portfolio__filter-item:hover {
  background-color: #998675;
  color: #fff;
  transition: .3s ease-in;
}

.portfolio__grid-box {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__grid-item {
  position: relative;
  max-width: 370px;
  margin: 0.8%;
}

.portfolio__grid-item:hover .portfolio__grid-item-text {
  background-color: #362f2d;
  transition: .5s ease-in;
}

.portfolio__grid-item:hover .portolio__grid-item-tail {
  border-bottom-color: #362f2d;
  transition: .5s ease-in;
}

.portfolio__grid-item:hover .portfolio__grid-item-title {
  color: #fff;
  transition: .5s ease;
}

.portfolio__grid-item:hover .portfolio__grid-item-caption {
  color: #c7b299;
  transition: .5s ease;
}

.grid-item-image {
  position: relative;
}

.grid-item-image__picture {
  vertical-align: bottom;
}

.portfolio__grid-item-overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  opacity: 0;
}

.portfolio__grid-item-icon {
  padding: 0 0.875rem;
  margin: auto 0;
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff;
}

.portfolio__grid-item-icon:hover {
  fill: #c7b299;
  transition: .3s ease-in-out;
}

.portfolio__grid-item:hover .portfolio__grid-item-overlay {
  opacity: 0.7;
  transition: .5s ease-in;
}

.portfolio__grid-item-text {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  background-color: #FBFAF8;
  text-align: left;
  box-sizing: border-box;
}

.portfolio__grid-item-title {
  line-height: 1.2;
  color: #C7B299;
}

.portfolio__grid-item-caption {
  line-height: 1.4;
  color: #d1d1d1;
}

.portolio__grid-item-tail {
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #fbfaf8 transparent;
  position:absolute;
  left: 1.5rem;
  top: -10px;
}

.portfolio__button {
  margin-top: 2rem;
}

.presentation {
  background-image: url('../img/presentation-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30%;
  position: relative;
  display: flex;
  justify-content: center;
}

.presentation__box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.presentation__title {
  line-height: 1.2;
  margin: 5% 0;
}

.presentation__caption {
  line-height: 1.75;
  margin-bottom: 3%;
  width: 66%;
  margin: 0 auto;
}

.presentation__timer {
  color: #c7b299;
  line-height: 1.7;
  margin-top: 3%;
}

.presentation__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  opacity: 0.4;
}

.mobile {
  margin-top: 5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.mobile__img,
.mobile__text {
  float: left;
}

.mobile__img {
  width: 41%;
}

.mobile__text {
  width: 58%;
  margin-left: 2rem;
}

.mobile__title {
  color: #555;
  line-height: 1.2;
}

.mobile__caption {
  color: #8c8c8c;
  line-height: 1.75;
  margin: 2rem 0;
}

.mobile__list {
  /* list-style-image: url("../img/list-arrow.png"); */
  margin-left: 5rem;
}

.mobile__list-item {
  line-height: 2;
  color: #8C8C8C;
  background: url("../img/list-arrow.png") no-repeat 0rem 0.3rem;
  padding-left: 3rem;
}

.counter {
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15%;
}

.counter__number {
  margin: 1.5rem 0 1rem;
  font-size: 3rem;
  color: #fff;
  line-height: 0.75;
}

.counter__caption {
  color: #c7b299;
  font-size: 14px;
  line-height: 1.4;
}

.counter__line {
  margin-top: 1.5rem;
  width: 30px;
  border-bottom: 2px solid #fff;
}